@mixin btn($bg, $color, $hbg, $hcolor, $shwcolor) {
    background: $bg;
    color: $color;
    font-size: 18px;
    padding: 0;
    border: 0;
    height: 50px;
    line-height: 50px;
    min-width: 210px;
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in 0.4s all;
    font-weight: 700;
    border-radius: 100px;
    text-align: center;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        min-width: 160px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    &:hover {
        background: $hbg;
        color: $hcolor;
        transition: ease-in 0.4s all;
        box-shadow: 1px 5px 44px -8px rgba($shwcolor, 0.75);
    }
}