$primary-color: #110a62;
$secondary-color: #333333;
$black-color: #000000;
$white-color: #ffffff;
$orange-color: #ff5f26;
$social-color: #100c3f;
$pink-color: #fe94a3;
$maroon-color: #ff093d;
$cream-color: #ffb359;
$cream-text-color: #cf8228;
$light-green-color: #6dfff3;
$sky-blue-color: #0ebfeb;
$fade-blue-color: #31e0ff;
$royal-blue-color: #0095af;
$footer-color: #353535;
$border-color: #bcbbca;
$dark-green-color: #029182;
$dark-blue-color: #0e939e;
$dark-maroon-color: #ad093d;