/*
Project Name : Scott Website;
Author: Paresh Kamble;
Developed By: Paresh Kamble;
Rights: Reserved;
Date: 31-03-2018

*/


/* You can add global styles to this file, and also import other style files */

@import "../lib/font-awesome/css/font-awesome.css";
@import "../js/owl/owl.carousel.min.css";
@import "../js/owl/owl.theme.default.min.css";
@import "../js/owl/owl.theme.green.min.css";
@import "imports/variables.scss";
@import "imports/mixin.scss";
@import "imports/reset.scss";
@import "imports/header.scss";
@import "imports/footer.scss";
@import "imports/global.scss";
@import "imports/home.scss";